$whiteColor: #fff;
$blackColor: #333;
$grayColor: #b4afaf;

@mixin opacityHover {
  opacity: 1;
  transition: opacity .3s ease;
  
  &:hover {
    opacity: .7;
    transition: opacity .3s ease;
  }
}

@mixin appContainer {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}